{% extends "@FOSUser/layout.html.twig" %}

{% block profilemenu %}{% endblock %}

{% block main %}

    <section class="become-content">
        <div class="container">
            <div class="row">
                <div class="cart">
                    <section class="flex-container flex-center flex-column">
                        <div class="flex-container flex-center flex-column become-content-step2">
                            <h2 class="title step2-auth-title">Resetting Password</h2>
                            <p class="basic-text step2-auth-text">For change password, please enter fields below</p>
                            <p class="step2-auth-text2">Personal information</p>
                            <div class="contact__block flex-container step2-auth-form">
                                <div class="contact__form-wrapper">
                                    <div class="contact__form">
                                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                                            <div class="row align-items-center">
                                                {{ form_widget(form) }}
                                            </div>
                                            <div class="row align-items-center">
                                                <input class="mybtn transition" type="submit" value="{{ 'change_password.submit'|trans }}" />
                                            </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <p class="log-in">I already have an account <a href="{{ path('security_login') }}">{{ 'app.page.auth.registration.submit.login'|trans }}</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
